[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bootstrap = "*"
email-validator = "*"
Flask= "*"
psycopg2="*"
Flask-WTF= "*"
[dev-packages]

[requires]
python_version = "3.11"
